# **Topics**

- basic calculation
- variables
- type hints
- string methods
- data structures: list tuple dictionary
- control flow, try catch syntax
- function
- OOP
- import modules
- csv example
- a little bit of numpy and pandas
- intro to sklearn basics/ machine learning
- glimpse of tensorflow

# **Basic Python**

In [ ]:
# calculation
print(1 + 1)
print(8 - 4)
print(2 * 2)
print(5 / 2)
print(5 ** 2)

2
4
4
2.5
25

In [ ]:
# variable
my_name = "Toy"
my_school = 'Kasetsart University'

In [ ]:
print('I\'m learing python')

I'm learing python

In [ ]:
# long string
long_quote = """This is a very long quote
I am learning Python
The Zen of Python"""

In [ ]:
print(long_quote)

This is a very long quote
I am learning Python
The Zen of Python

In [ ]:
# data types
# int, float, str, bool
my_name = "Toy"
age = 32
income = 25000.25
movie_lover = True # False

In [ ]:
print(type(my_name))
print(type(age))
print(type(income))
print(type(movie_lover))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# check type
print(isinstance(my_name, str))
print(isinstance(age, int))
print(isinstance(income, float))
print(isinstance(movie_lover, bool))

True
True
True
True

In [ ]:
# print fstring template
my_name = "Toy"
my_age = 32

print( f"Hello my name is {my_name} and I'm {my_age} years old." )

Hello my name is Toy and I'm 32 years old.

In [ ]:
# old way .format()
print( "Hello my name is {} and I'm {} years old.".format(my_name, my_age))

Hello my name is Toy and I'm 32 years old.

In [ ]:
# string + string
text = 'Hello ' + 'World'
print(text)

Hello World

In [ ]:
print('Hello ' * 5)

Hello Hello Hello Hello Hello

In [ ]:
# type hints, do not enforced
# dynamic typed
my_name: str = 'Toy'
my_age: int = 32

In [ ]:
# define function
def hello(name: str) -> None:
    print( f"hello {name}!")

# test function
hello('Toy')

hello Toy!

In [ ]:
def sum_two_num(a: int, b: int) -> int:
    assert isinstance(a, int), "a should be integer"
    assert isinstance(b, int), "b should be integer"
    return a + b

result = sum_two_num(10, 25)
print(result)

35

# **String Method**

In [ ]:
text = "a duck walks into a bar"
len(text)

23

In [ ]:
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.split(" ")

['a', 'duck', 'walks', 'into', 'a', 'bar']

In [ ]:
text = text.replace('duck', 'lion')
print(text)

a lion walks into a bar

In [ ]:
print(text[2:6]) # up to, but not include 6
print(text[7:12])

lion
walks

In [ ]:
print(text[13: ])

into a bar

In [ ]:
print(text)
print(text[0: :3])

a lion walks into a bar
ai l taa

In [ ]:
# string is immutable 
text = "I love hotdog"
# text = text.replace('hotdog', 'hamburger')

In [ ]:
text2 = 'He' + text[1:]
print(text2)

He love hotdog

# **Data Structure**

- list
- tuple
- dictionary

In [ ]:
# list []
shopping_list = ['eggs', 'milk', 'bread']
print(shopping_list)

['eggs', 'milk', 'bread']

In [ ]:
# update list (list is mutable)
shopping_list[0] = 'carrot'
print(shopping_list)

['carrot', 'milk', 'bread']

In [ ]:
another_shopping_list = ['sugar', 'salt']
total_list = shopping_list + another_shopping_list 

print(total_list)

['carrot', 'milk', 'bread', 'sugar', 'salt']

In [ ]:
# type hints : list
from typing import List

friends: List[str] = ['David', 'Joe', 'Anna']
salary: List[int] = [50000, 25000, 120000]
print(friends)
print(salary)

['David', 'Joe', 'Anna']
[50000, 25000, 120000]

In [ ]:
# method vs. function
# list methods 
shopping_list.append('sugar')
print(shopping_list)

['carrot', 'milk', 'bread', 'sugar']

In [ ]:
shopping_list.append('chocolate milk')
print(shopping_list)

['carrot', 'milk', 'bread', 'sugar', 'chocolate milk']

In [ ]:
shopping_list.insert(1, 'tomato')
print(shopping_list)

['carrot', 'tomato', 'milk', 'bread', 'sugar', 'chocolate milk']

In [ ]:
shopping_list.remove('sugar')
print(shopping_list)

['carrot', 'tomato', 'milk', 'bread', 'chocolate milk']

In [ ]:
# tuple - immutable, ordered
username = ('toyeiei', 'datarockie', 'samson')
print(username[0])
print(username[1])

toyeiei
datarockie

In [ ]:
# multiple assignment
username1, username2, username3 = username
print(username1)
print(username2)
print(username3)

toyeiei
datarockie
samson

In [ ]:
# dictionary - mutable, unordered
# key-value pair

customers = {
    "name": "David", 
    "age": 25,
    "city": "London",
    "fav_movies": ["Dark Knight", "Avengers", "Micky Mouse"]
}

In [ ]:
customers["fav_movies"][1]

'Avengers'

In [ ]:
# list of dictionary
list_customers = [
    {
        "name": "David", 
        "age": 25,
        "city": "London",
        "fav_movies": ["Dark Knight", "Avengers", "Micky Mouse"]
    }, 
    {
        "name": "Marry", 
        "age": 22,
        "gender": "Female",
        "city": "Tokyo",
        "fav_movies": ["Cinderella", "Avengers"]
    },
    {
        "name": "Jone", 
        "age": 38,
        "city": "Washington",
        "fav_movies": None,
        "like_thailand": True
    }           
]

In [ ]:
list_customers

[{'age': 25,
  'city': 'London',
  'fav_movies': ['Dark Knight', 'Avengers', 'Micky Mouse'],
  'name': 'David'},
 {'age': 22,
  'city': 'Tokyo',
  'fav_movies': ['Cinderella', 'Avengers'],
  'gender': 'Female',
  'name': 'Marry'},
 {'age': 38,
  'city': 'Washington',
  'fav_movies': None,
  'like_thailand': True,
  'name': 'Jone'}]

In [ ]:
list_customers[1]['fav_movies'][0]

'Cinderella'

In [ ]:
customers = {
    "name": "David", 
    "age": 25,
    "city": "London",
    "fav_movies": ["Dark Knight", "Avengers", "Micky Mouse"]
}

In [ ]:
list( customers.keys() )

['name', 'age', 'city', 'fav_movies']

In [ ]:
list( customers.values() )

['David', 25, 'London', ['Dark Knight', 'Avengers', 'Micky Mouse']]

In [ ]:
customers.get('name')

'David'

In [ ]:
# list tuple dictionary

# **Control Flow**

- if
- for
- while
- try catch (Error)

In [ ]:
# write function 
def grade():
    score = int(input("What is your exam score? "))
    if (score >= 80):
        return "Passed"
    else:
        return "Failed"

In [ ]:
result = grade()

What is your exam score? 92

In [ ]:
def grade_2():
    score = int(input("What is your exam score? "))
    if (score >= 80):
        return "A"
    elif (score >= 70):
        return "B"
    elif (score >= 60):
        return "C"
    elif (score >= 50):
        return "D"
    else:
        return "F"

In [ ]:
grade_2()

What is your exam score? 45

'F'

In [ ]:
# while loop
count = 0
while (count < 5):
    print("hello world!")
    count += 1

hello world!
hello world!
hello world!
hello world!
hello world!

In [ ]:
# while loop another example
def play_game():
    while (True):
        print('Type q to quit the game')
        the_real_answer = 'tiger'
        user_input = input('Please guess an animal: ')
        if (user_input == the_real_answer):
            return "Congratulation"
        if (user_input == 'q'):
            break   
    print("Good Bye!")

In [ ]:
play_game()

Type q to quit the game
Please guess an animal: giraffe
Type q to quit the game
Please guess an animal: tiger

'Congratulation'

In [ ]:
# for loop 
friends = ['David', 'Mary', 'Jone']
for friend in friends:
    print("Hello " + friend.upper() )

Hello DAVID
Hello MARY
Hello JONE

In [ ]:
# list comprehension
upper_friends = ["Hello " + friend.upper() for friend in friends]

In [ ]:
print(upper_friends)

['Hello DAVID', 'Hello MARY', 'Hello JONE']

In [ ]:
# list comprehension
numbers = [1 , 5, 15, 22]
result = [num * 2 for num in numbers ]

print(result)

[2, 10, 30, 44]

# **Functions**

In [ ]:
def cube(number: int) -> int:
    assert isinstance(number, int), "number should be int"
    return number ** 3

cube(5)

125

In [ ]:
# lambda function
cube = lambda number: number ** 3
sum_two_num = lambda a, b: a + b

In [ ]:
sum_two_num(12, 25)

37

In [ ]:
# list of tuple
cars = [ ('mazda', 2010), 
  ('toyota', 2015), 
  ('honda', 2001), 
  ('mitsubishi', 2002), 
  ('ford', 2021) ]

In [ ]:
cars.sort(key = lambda car: car[1], reverse = True )
print(cars)

[('ford', 2021), ('toyota', 2015), ('mazda', 2010), ('mitsubishi', 2002), ('honda', 2001)]

In [ ]:
x = 10

try:
    print(x/ 0)
except ZeroDivisionError:
    print("Cannot divide x by zero.")
except NameError:
    print("Variable is not defined.")
finally:
    print("It's done!")

Cannot divide x by zero.
It's done!

# **OOP**

In [ ]:
class Dog():
    def __init__(self, name, age, color):
        self.name = name
        self.age = age
        self.color = color
    
    def __str__(self):
        return f"Hey I am a Dog class and my name is {self.name}"

    def sitting(self):
        print("I'm sitting now!")

    def eating(self, food_name):
        print( f"My favorite food is {food_name}.")

    def get_older(self):
        self.age += 1

In [ ]:
joey = Dog('joey', 5, 'black')

In [ ]:
print(joey)

Hey I am a Dog class and my name is joey

In [ ]:
joey.sitting()

I'm sitting now!

In [ ]:
joey.eating('pizza')

My favorite food is pizza.

In [ ]:
joey.get_older()
print(joey.age)

6

In [ ]:
joey

# **We Build ATM**

- Attributes => balance

- Methods => deposit, withdraw, check balance

In [ ]:
import random

class ATM():
    def __init__(self, account_name, initial):
        self.account_name = account_name
        self.balance = initial 
    
    def __str__(self):
        return f"Your accout name: {self.account_name}"

    def check_balance(self):
        print( f"Your balance: {self.balance} THB")

    def deposit(self, money):
        self.balance += money

    def withdraw(self, money):
        if money > self.balance:
            print(f"Your balance: {self.balance} is not enough.")
        else:
            print("Success Transaction.")
            self.balance -= money
    
    def online_withdraw(self, money):
        if money > self.balance:
            print("Error: Your balance is not enough.")
        else: 
            OTP = random.randint(10000, 99999)
            print(OTP)
            user_input = int(input("Please type your OTP: "))
            if (OTP == user_input):
                print("Success: Please receive your money.")
                self.balance -= money
            else:
                print("Your OTP is incorrect. Please try again.")

In [ ]:
my_atm = ATM('Kasidis Toy', 1000)
my_atm.check_balance()

Your balance: 1000 THB

In [ ]:
my_atm.deposit(1000)
my_atm.withdraw(500)
my_atm.check_balance()

Success Transaction.
Your balance: 1500 THB

In [ ]:
my_atm.online_withdraw(900)

26197
Please type your OTP: 26197
Success: Please receive your money.

In [ ]:
my_atm.check_balance()

Your balance: 600 THB

# **Pandas**

In [ ]:
# magic command
!pwd
!ls sample_data

/content
anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
numbers = [1, 2, 5, 10, 25]
numbers = np.array(numbers)

In [ ]:
print( numbers.mean() )
print( numbers.max() )
print( numbers.min() )
print( numbers.sum() )
print( numbers.std() )

8.6
25
1
43
8.777243302996675

In [ ]:
# load csv to dataframe
stores = pd.read_csv("Sample SuperStore.csv")

In [ ]:
stores.tail(3)

      Row ID        Order ID Order Date  ... Quantity Discount   Profit
9991    9992  CA-2017-121258  2/26/2017  ...        2      0.2  19.3932
9992    9993  CA-2017-121258  2/26/2017  ...        4      0.0  13.3200
9993    9994  CA-2017-119914   5/4/2017  ...        2      0.0  72.9480

[3 rows x 21 columns]

In [ ]:
# shape: rows , columns
stores.shape

(9994, 21)

In [ ]:
# filter data
stores_california_consumer = stores.query("Segment == 'Consumer' & State == 'California'")

In [ ]:
# export csv
stores_california_consumer.to_csv('california_consumer.csv')